doctype html
html(lang="en")
	head
		title= pageTitle
		link(rel="stylesheet", href="/css/app.min.css")
	body
		h1 Risk - The Board Game
		div(class="ui page container")
			a(href="/new", class="ui button") Start new Game
		script(src="/js/app.min.js")
